.App {
margin: 0 auto;  
max-width: 950px;
}

.App-header {
font-size: 40px;
font-weight: 900;
}

.App a {
color: grey;
}

.App footer {
color: grey;    
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}

body {
background: #bbe4e9;
}