body {
    background: #bbe4e9;
}

.App a {
    color: grey;
}

.App {
max-width: 950px;
margin: 0 auto;
}

.App-header {
font-size: 40px;
font-weight: 900;
}

.App footer {
font-family: 'Courier New', Courier, monospace;
color: grey;
font-weight: bold;
}